body
{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #000000;
    line-height: 1.5;
    font-size: 16px;
}
.titulo {
    padding: 10px;
    background-color: rgba(9, 185, 185, 0.63);
    font-size: 32px;
}
.subtitulo
{
 
border-bottom: 2px solid rgb(154, 21, 243);
 
 
}
figure
{
margin: 30px;
padding: 15px;
text-align: center;
background-color: aliceblue;
border: 1px solid darkblue;
 
 
}
 
figcaption
{margin-top: 10px;
 
}
 
.matriz-empresa
{
width: 550px;
margin-left: auto;
margin-right: auto;
 
}
.criadores
{
width: 275px;
float: right;
 
}
figure img
{
    width: 100%;
}

.contato__subtitulo {
    display: inline;
} 

.contato__secao{
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato__secao--telefone{
    margin-left: 32px;
}


.contato__info{
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato__info-titulo,
.contato__info-descricao {
    display: inline;
}

.contato__info-descricao{
    margin-left: 10px;
}

.rodape {
    padding: 1.75em 0;
    font-size:  1,1rem;
}

.rodape__logo{
    width: 6em;
}

.rodape__copyright{
    display: inline;
    margin-left: 1em;
}